*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
}

.search-box {
  text-align: center;  
  margin-bottom: 20px;
}
.search-input {
  max-width: 700px;
  width: 100%;
  height: 50px;
  padding-left: 10px;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 5px #000;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 310px);
  grid-gap: 40px;
  justify-content: center;
}

.movie-item {
  position: relative;
  transition: transform 0.2s;
  margin: 0 auto;
}

.movie-item:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: #fff;
  bottom: 0;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  cursor: pointer;
}

.movie-img {
  max-width: 250px;
  display: block;
  width: 100%;
  height: 350px;
  transition: 0.5s;
  border-radius: 10px;
}

.movie-img:hover {
  transform: scale(1.1);
}

.select-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.select-container #select{
  max-width: 500px;
  width: 100%;
  border:  4px solid #000;
  border-radius: 10px;
  font-size: 1.2rem;
  color: #000;
  text-align: center;
}

.select-container select option {
  border-radius: 10px;
}


.footer {
  box-shadow: 1px 1px 5px 2px red;
  text-align: center;
  transition: 0.5s ease;
}

